[submodule "pack/misc/start/auto-pairs"]
	path = pack/misc/start/auto-pairs
	url = https://github.com/zsrkmyn/auto-pairs
	ignore = untracked
[submodule "pack/misc/start/fcitx"]
	path = pack/misc/start/fcitx
	url = https://github.com/lilydjwg/fcitx.vim
	ignore = untracked
[submodule "colors"]
	path = colors
	url = https://github.com/zsrkmyn/vimcolor-oct22
	ignore = untracked
[submodule "pack/misc/start/lightline"]
	path = pack/misc/start/lightline
	url = https://github.com/itchyny/lightline.vim
	ignore = untracked
[submodule "pack/grammer/start/vim-grammarous"]
	path = pack/grammer/start/vim-grammarous
	url = https://github.com/rhysd/vim-grammarous
	ignore = untracked
[submodule "pack/misc/start/nerdtree"]
	path = pack/misc/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
	ignore = untracked
[submodule "pack/completion/start/echodoc"]
	path = pack/completion/start/echodoc
	url = https://github.com/Shougo/echodoc.vim
	ignore = untracked
[submodule "pack/misc/start/rainbow"]
	path = pack/misc/start/rainbow
	url = https://github.com/luochen1990/rainbow
	ignore = untracked
[submodule "nerdtree_plugin.dir/nerdtree-buffer-ops"]
	path = nerdtree_plugin.dir/nerdtree-buffer-ops
	url = https://github.com/PhilRunninger/nerdtree-buffer-ops
	ignore = untracked
[submodule "nerdtree_plugin.dir/nerdtree-git-plugin"]
	path = nerdtree_plugin.dir/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
	ignore = untracked
[submodule "pack/completion/start/vim-ccls"]
	path = pack/completion/start/vim-ccls
	url = https://github.com/m-pilia/vim-ccls
	ignore = untracked
[submodule "pack/misc/start/diffchar.vim"]
	path = pack/misc/start/diffchar.vim
	url = https://github.com/rickhowe/diffchar.vim
[submodule "pack/llvm/start/llvm.vim"]
	path = pack/llvm/start/llvm.vim
	url = https://github.com/llvm/llvm.vim
